<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>ToDo App</title>
</head>
<body>
    <div class="container">
        <h1>ToDo List</h1>
        <form action="{% url 'homeNew' %}" method="POST">
            {% csrf_token %}
            <div class="input-container">
                <input type="text" name="title" id="task" placeholder="Add a new toDo">
                <button type="submit" href="/">Add</button>
            </div>
        </form>
        <ul id="task-list">
            <div class="task-item">
                {% for data in todos %}
                <h3>{{ data.title }}</h3> 
                <form action="{% url 'delete_todo' data.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="delete-button">Delete</button>
                </form>
                {% endfor %}
        
            </div>   
    </div>
    
</html>
